---
layout: default
---
<section class="content-section">
  {% if sidebar %}
    <aside class="content-sidebar">
      {% for image in sidebar %}
        <figure class="content-thumbnail">
          <a href="{{ image.link }}">
            <img src="{{ image.thumbnail }}" alt="{{ image.alt }}">
          </a>

          {% if image.caption %}
            <figcaption>
              {{ image.caption }}
            </figcaption>
          {% endif %}
        </figure>
      {% endfor %}
    </aside>
  {% endif %}

  <article class="content{% unless sidebar %} no-sidebar{% endunless %}">
    <h1>{{ title }}</h1>

    <p class="callout">
      {{ excerpt }}
    </p>

    {{ content }}
  </article>
</section>
